html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background: #eeeeee;
    position: relative;
}

canvas {
  background: peachpuff;
  position: absolute;
  margin-left: 300px;
}